<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  ">

    <context:annotation-config/>
    <context:component-scan base-package="com.capella.jackrabbit"/>
    <bean id="jcrUtils" class="org.apache.jackrabbit.commons.JcrUtils"/>
    <!--  <bean id="repository" class="org.apache.jackrabbit.commons.JcrUtils" factory-method="getRepository">
          <constructor-arg value="http://localhost:8080/server"/>
      </bean>-->

    <bean id="repositoryLocation" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="repository.xml"/>
    </bean>

    <bean id="repository" class="org.apache.jackrabbit.core.TransientRepository">
        <constructor-arg index="0" ref="config"/>
    </bean>

    <bean id="config" class="org.apache.jackrabbit.core.config.RepositoryConfig" factory-method="create">
        <constructor-arg index="0" value="repository.xml"/>
        <constructor-arg index="1" value="."/>
    </bean>

    <bean id="session" factory-bean="repository" factory-method="login">
        <constructor-arg ref="simpleCredentials"/>
    </bean>
    <bean id="simpleCredentials" class="javax.jcr.SimpleCredentials">
        <constructor-arg value="admin"/>
        <constructor-arg value="admin"/>
    </bean>

    <bean id="rootNode" factory-bean="session" factory-method="getRootNode"/>
</beans>